In [1]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import warnings
warnings.simplefilter('ignore')

In [2]:
data=pd.read_csv("1. Regression - Module - (Housing Prices).csv")
data.head()

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,14-Oct-17,221900.0,3,1.00,1180.0,5650.0,1.0,No,NaN,...,7,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,14-Dec-17,538000.0,3,2.25,2570.0,7242.0,2.0,No,NaN,...,7,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,15-Feb-16,180000.0,2,1.00,770.0,10000.0,1.0,No,NaN,...,6,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062
3,2487200875,14-Dec-17,604000.0,4,3.00,1960.0,5000.0,1.0,No,NaN,...,7,1050.0,910,53,0,98136.0,47.5208,-122.393,1360.0,5000
4,1954400510,15-Feb-16,510000.0,3,2.00,1680.0,8080.0,1.0,No,NaN,...,8,1680.0,0,31,0,98074.0,47.6168,-122.045,1800.0,7503

In [3]:
data.info

<bound method DataFrame.info of                ID Date House was Sold  Sale Price  No of Bedrooms  \
0      7129300520           14-Oct-17    221900.0               3
1      6414100192           14-Dec-17    538000.0               3
2      5631500400           15-Feb-16    180000.0               2
3      2487200875           14-Dec-17    604000.0               4
4      1954400510           15-Feb-16    510000.0               3
...           ...                 ...         ...             ...
21608   263000018           14-May-17    360000.0               3
21609  6600060120           15-Feb-16    400000.0               4
21610  1523300141           14-Jun-17    402101.0               2
21611   291310100           15-Jan-16    400000.0               3
21612  1523300157           14-Oct-17    325000.0               2

       No of Bathrooms  Flat Area (in Sqft)  Lot Area (in Sqft)  No of Floors  \
0                 1.00               1180.0              5650.0           1.0
1                 2.25               2570.0              7242.0           2.0
2                 1.00                770.0             10000.0           1.0
3                 3.00               1960.0              5000.0           1.0
4                 2.00               1680.0              8080.0           1.0
...                ...                  ...                 ...           ...
21608             2.50               1530.0              1131.0           3.0
21609             2.50               2310.0              5813.0           2.0
21610             0.75               1020.0              1350.0           2.0
21611             2.50               1600.0              2388.0           2.0
21612             0.75               1020.0              1076.0           2.0

      Waterfront View No of Times Visited  ... Overall Grade  \
0                  No                 NaN  ...             7
1                  No                 NaN  ...             7
2                  No                 NaN  ...             6
3                  No                 NaN  ...             7
4                  No                 NaN  ...             8
...               ...                 ...  ...           ...
21608              No                 NaN  ...             8
21609              No                 NaN  ...             8
21610              No                 NaN  ...             7
21611              No                 NaN  ...             8
21612              No                 NaN  ...             7

       Area of the House from Basement (in Sqft)  Basement Area (in Sqft)  \
0                                         1180.0                        0
1                                         2170.0                      400
2                                          770.0                        0
3                                         1050.0                      910
4                                         1680.0                        0
...                                          ...                      ...
21608                                     1530.0                        0
21609                                     2310.0                        0
21610                                     1020.0                        0
21611                                     1600.0                        0
21612                                     1020.0                        0

       Age of House (in Years)  Renovated Year  Zipcode  Latitude  Longitude  \
0                           63               0  98178.0   47.5112   -122.257
1                           67            1991  98125.0   47.7210   -122.319
2                           85               0  98028.0   47.7379   -122.233
3                           53               0  98136.0   47.5208   -122.393
4                           31               0  98074.0   47.6168   -122.045
...                        ...             ...      ...       ...        ...
21608                        9               0  98103.0   47.6993   -122.346
21609                        4               0  98146.0   47.5107   -122.362
21610                        9               0  98144.0   47.5944   -122.299
21611                       14               0  98027.0   47.5345   -122.069
21612                       10               0  98144.0   47.5941   -122.299

       Living Area after Renovation (in Sqft)  \
0                                      1340.0
1                                      1690.0
2                                      2720.0
3                                      1360.0
4                                      1800.0
...                                       ...
21608                                  1530.0
21609                                  1830.0
21610                                  1020.0
21611                                  1410.0
21612                                  1020.0

       Lot Area after Renovation (in Sqft)
0                                     5650
1                                     7639
2                                     8062
3                                     5000
4                                     7503
...                                    ...
21608                                 1509
21609                                 7200
21610                                 2007
21611                                 1287
21612                                 1357

[21613 rows x 21 columns]>

In [6]:
data.isnull().sum

<bound method DataFrame.sum of           ID  Date House was Sold  Sale Price  No of Bedrooms  \
0      False                False       False           False
1      False                False       False           False
2      False                False       False           False
3      False                False       False           False
4      False                False       False           False
...      ...                  ...         ...             ...
21608  False                False       False           False
21609  False                False       False           False
21610  False                False       False           False
21611  False                False       False           False
21612  False                False       False           False

       No of Bathrooms  Flat Area (in Sqft)  Lot Area (in Sqft)  No of Floors  \
0                False                False               False         False
1                False                False               False         False
2                False                False               False         False
3                False                False               False         False
4                False                False               False         False
...                ...                  ...                 ...           ...
21608            False                False               False         False
21609            False                False               False         False
21610            False                False               False         False
21611            False                False               False         False
21612            False                False               False         False

       Waterfront View  No of Times Visited  ...  Overall Grade  \
0                False                 True  ...          False
1                False                 True  ...          False
2                False                 True  ...          False
3                False                 True  ...          False
4                False                 True  ...          False
...                ...                  ...  ...            ...
21608            False                 True  ...          False
21609            False                 True  ...          False
21610            False                 True  ...          False
21611            False                 True  ...          False
21612            False                 True  ...          False

       Area of the House from Basement (in Sqft)  Basement Area (in Sqft)  \
0                                          False                    False
1                                          False                    False
2                                          False                    False
3                                          False                    False
4                                          False                    False
...                                          ...                      ...
21608                                      False                    False
21609                                      False                    False
21610                                      False                    False
21611                                      False                    False
21612                                      False                    False

       Age of House (in Years)  Renovated Year  Zipcode  Latitude  Longitude  \
0                        False           False    False     False      False
1                        False           False    False     False      False
2                        False           False    False     False      False
3                        False           False    False     False      False
4                        False           False    False     False      False
...                        ...             ...      ...       ...        ...
21608                    False           False    False     False      False
21609                    False           False    False     False      False
21610                    False           False    False     False      False
21611                    False           False    False     False      False
21612                    False           False    False     False      False

       Living Area after Renovation (in Sqft)  \
0                                       False
1                                       False
2                                       False
3                                       False
4                                       False
...                                       ...
21608                                   False
21609                                   False
21610                                   False
21611                                   False
21612                                   False

       Lot Area after Renovation (in Sqft)
0                                    False
1                                    False
2                                    False
3                                    False
4                                    False
...                                    ...
21608                                False
21609                                False
21610                                False
21611                                False
21612                                False

[21613 rows x 21 columns]>